<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="nav">
        <div class="nav-logo">
            <p>CyberSecurityProject</p>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a class="link" href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                <a class="link active" href="{{ url_for('main.add') }}">Add Password</a>

            </ul>
        </div>
        <div class="nav-button">
            <form action="{{ url_for('main.logout') }}" method="post">
                <button class="btn white-btn" type="submit">Log Out</button>
            </form>
        </div>
    </div>

    <div class="wrapper">
        <div class="form-box">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <header>Add New Password</header>

                <div class="input-box">
                    {{ form.site(class="input-field", placeholder="WebSite") }}
                    <i class="fas fa-globe"></i>
                </div>

                <div class="input-box">
                    {{ form.username(class="input-field", placeholder="Username") }}
                    <i class="fas fa-user"></i>
                </div>

                <div class="input-box">
                    {{ form.password(class="input-field", placeholder="Password") }}
                    <i class="fas fa-lock"></i>
                </div>

                <div class="input-box">
                    {{ form.submit(class="submit") }}
                </div>

                <div class="top">
                    <span><a href="{{ url_for('main.dashboard') }}">Back to Dashboard</a></span>
                </div>
            </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>
